@media only screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
    #leftbar {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #leftbar {
        display: none;
        overflow-y: auto;
    }
    .mobile-nav {
        display: block;
    }
    .mobile-nav-contents {
        display: block;
        background-color: #07163d;
        width: 100%;
        height: 40px;
        border: 1px solid black;
    }
    .mobile-logo,
    .mobile-nav-icon {
        display: inline-block;
    }
    .mobile-logo img {
        height: 30px;
        width: auto;
        float: left;
        margin-left: 10%;
        margin-top: 5px;
    }
    .mobile-nav-icon {
        float: right;
        margin-top: 2px;
        margin-right: 2%;
        font-size: 25px;
        color: #fff;
    }
}

#main
{
	background-color: white;
	height: 625px;
	width: 1240px;
	margin-left: 90px;
	position: absolute;
	margin-top: -650px;
}

#company
{
	width: 1240px;
	height: 40px;
	background-color: #234292;
}

#fortable
{
	width: 1240px;
	height: 50px;
	background-color:#d5dbdb; 
}

table
{
	font-family: arial, sans-serif;
  	border-collapse: collapse;
}

th
{
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	position: absolute;
	font-size: 12px;
}

td
{
	margin-left: 6px;
	margin-top: 60px;
	text-align: center;
	position: absolute;	
}

#line
{
	height: 3px;
	border-top: 1px solid black;
	width: 1240px;
	margin-top: 290px;
}

/*.div-invisible-1
{
	height: 63px;
	width: 1240px;
	position: absolute;
	margin-top: 40px;
	background-color: lightgreen !important;
}*/

#last
{
	height: 40px;
	width: 1240px;
	margin-top: 250px;
	position: absolute;
}

#back
{
	height: 40px;
	width: 50px;
	background-color: #234292;
}

#reset
{
	height: 40px;
	margin-top: -42px;
	width: 50px;
	margin-left: 57px;
	position: absolute;
	background-color: #ffffff;
}

#xls
{
	height: 50px;
	margin-top: -48px;
	width: 70px;
	margin-left: 90px;
	position: absolute;
}

#size
{
	position: absolute;
	height: 227px;
	width: 140px;
	border: 1px solid grey;
	margin-left: 600px;
	margin-top: -260px;
	display: none;
}

#pages
{
	height: 24px;
	width: 60px;
	border: 1px solid grey;
	position: absolute;
	margin-left: 1030px;
	margin-top: -33px;
}

#content
{
	position: absolute;
	height: 24px;
	width: 50px;
	margin-left: 1190px;
	margin-top: -32px;
}

#showdiv
{
	display: none;
	position: absolute;
	border: 1px solid grey;
	height: 220px;
	width: 48px;
	margin-top: -280px;
	margin-left: 12px;
}

#showone
{
	display: none;
	position: absolute;
	border: 1px solid grey;
	height: 20px;
	width: 48px;
	margin-top: -80px;
	margin-left: 12px;
}

ul li:hover
{
	background-color: #3498db ;
}